@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  background: #eeeeee;
}

/* ::selection {
  background: #d5ad45;
} */

::-webkit-scrollbar {
  height: 12px;
  width: 6px;
  background: rgb(199, 199, 199);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgb(199, 199, 199);
}
/* for date picker */
/* input[type="date"] {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  padding-left: 35px;
  color: #333;
  font-size: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("custom-calendar-icon.svg") no-repeat center;
  color: transparent;
  background-size: contain;
  cursor: pointer;
} */
